<div class="top container" style="width: 40%;">
	<div class="top-text">
		<h2 class="font " style="margin:50px 0 0 0;">
			Welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
		Bookers!
		</h2>

		<p class="font" >In <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers,</p>

		<p style="line-height: 30px;">you can share and exchange your opinions , inpressions , and emotions<br>
		about varioius books!</p>
	</div>

	<div class="top-link">
		<div class="col-lg-1"></div>
		<%= link_to "Log in", new_user_session_path, class:"login col-lg-10" %>
		<div class="col-lg-1"></div>
	</div>
	<div class="box"></div>
	<div class="top-link">
		<div class="col-lg-1"></div>
		<%= link_to 'Sign Up', new_user_registration_path, class:"signup col-lg-10" %>
		<div class="col-lg-1"></div>
	</div>

</div>

<p style="float: right; margin-right: 15%;">CopyRight Infratop.inc</p>