// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.link4{
	color: black;
}
.link4:hover{
	background-color: black;
	color: #23527c;
}